de_dep_news_trf @ https://github.com/explosion/spacy-models/releases/download/de_dep_news_trf-3.8.0/de_dep_news_trf-3.8.0-py3-none-any.whl#sha256=6da411d41d5b0465beb1725549039e05caf00fec9ae1dc41794c8f7555824905
spacy==3.8.3
spacy-curated-transformers==0.3.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
fastapi==0.115.6
fastapi-cli==0.0.7
